{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" media="all" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->




    <!-- Gestion dnd cave -->
    <script type="text/javascript" src="{% static "js/jquery-2.0.2.min.js"%}"></script>

{#   Utilise pour les menu #}
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js"%}"></script>
    <link href="{% static "css/jquery.pnotify.default.css"%}" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static "bootstrap/css/bootstrap.css"%}" />



{#    <script type="text/javascript" src="{% static "js/cave/dnd2.js"%}"></script>#}
{#    <script type="text/javascript" src="{% static "js/jquery.sortable.min.js"%}"></script>#}
{#    <script type="text/javascript" src="{% static "js/jquery.sortable.js"%}"></script>#}
    <script type="text/javascript" src="{% static "js/jquery.easyui.min.js"%}"></script>

    <script type="text/javascript" src="{% static "js/jquery.pnotify.min.js"%}"></script>

  </head>

  <body>
     <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DjangoVino</a>
        </div>


        {% block navbar-menu %}


        {% endblock %}




         {% block navbar-form %}

         {% endblock %}

      </div>
    </div>
    <div class="jumbotron">

          {% block content %}
 <!-- Main jumbotron for a primary marketing message or call to action -->
                      <div class="starter-template">
                        <h1>Base</h1>
                        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
                      </div>

                 {% endblock %}
    </div>



    {% block container %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% block containerG %}
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

        {% endblock %}
        {% block containerM %}

          <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        {% endblock %}

        {% block containerD %}
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        {% endblock %}

      </div>
{% endblock %}

      <hr>
{% block footer %}
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->

{% endblock %}

  </body>
</html>
