{% extends "html/cave/home.html" %}





{% block title %}Mes caves{% endblock %}








{% block content %}


    - - -ici
            <div class="progress">
            <div class="progress-bar progress-bar-blanc" style="width: {{ cave.pourcentCouleur.Blanc|stringformat:"f"}}%;">
                <!--<span class="sr-only">20% Complete (warning)</span>-->
                 {{ cave.pourcentCouleur.Blanc|floatformat}} % de Blanc
            </div>
            <div class="progress-bar progress-bar-rose" style="width: {{ cave.pourcentCouleur.Rosé|stringformat:"f"}}%">
                {{ cave.pourcentCouleur.Rosé|floatformat}} % de Rosé
            </div>

            <div class="progress-bar progress-bar-rouge" style="width: {{ cave.pourcentCouleur.Rouge|stringformat:"f"}}%">
                 {{ cave.pourcentCouleur.Rouge|floatformat}} % de Rouge
            </div>
             <div class="progress-bar progress-bar-info" style="width: {{ cave.pourcentLibre|stringformat:"f"}}%">
                 Il reste encore {{ cave.pourcentLibre|floatformat}} % à remplir
            </div>


        </div>



{% endblock %}



{% block container %}

     <span class="title ">{{ cave.nom }}-- Capacite: {{ cave.capacite }} --<br/>
            Occupée ({{ cave.pourcentOcc|floatformat}} %): {{ cave.emplacementOccupe }} --<br/>
            Restant(s) ({{ cave.pourcentLibre|floatformat}} %) :{{ cave.emplacementLibre }} <br/>
            Volume {{ cave.volumeCave}} ml  <br/>
            Valeur {{ cave.valeurCave.total}} Euros  <br/>
            Valeur Min {{ cave.valeurCave.min}} Euros  <br/>
            Valeur Max {{ cave.valeurCave.max}} Euros  <br/>
            Annee min {{ cave.anneeCave.min}}   <br/>
            Annee Max {{ cave.anneeCave.max}}   <br/>
            </span>

    <script>



    function ajaxLibereBouteille(id_cave, nom, id) {
        tab_bouteille = Array()
        tab_bouteille[0] = {"id_cave": id_cave, "nom": nom, "id": id};

        $.ajax({
            type: "POST",
            url: "/cave/libere_bouteille",
            dataType: "json",
            traditional: true,
            data: {'list_bouteille': JSON.stringify(tab_bouteille)},
            success: function (data) {
                console.log(data["HTTPRESPONSE"]);
            }
        });

    }

    function ajaxPlaceByStock(id_cave, nom, id, x, y) {

        tab_bouteille = Array()
        tab_bouteille[0] = {"id_cave": id_cave, "id": id, "x": x, "y": y};

        $.ajax({
            type: "POST",
            url: "/cave/place_bouteille",
            dataType: "json",
            traditional: true,
            data: {'list_bouteille': JSON.stringify(tab_bouteille)},
            success: function (data) {
                console.log(data["HTTPRESPONSE"]);
            }
        });

    }

    function ajaxPlaceByCave(id_cave, nom, id, x, y) {

        ajaxPlaceByStock(id_cave, nom, id, x, y);

    }


    function notifyReplaceByCave() {
        $.pnotify({
            title: 'Bootstrap Info',
            text: 'Remplacement d\'une bouteille par une bouteille en cave',
            type: 'info',
            styling: 'bootstrap'
        });
    }

    function notifyReplaceByStock() {
        $.pnotify({
            title: 'Bootstrap Info',
            text: 'Remplacement d\'une bouteille par une bouteille en stock',
            type: 'info',
            styling: 'bootstrap'
        });
    }

    function notifyPlaceByStock(cave, nom, id, x, y) {
        $.pnotify({
            title: 'Bootstrap Info',
            text: 'Placement d\'une bouteille ' + nom + ' (id:' + id + ') dans cave ' + cave + ' en' + x + '-' + y,
            type: 'info',
            styling: 'bootstrap'
        });
    }

    function notifyPlaceByCave() {
        $.pnotify({
            title: 'Bootstrap Info',
            text: 'Deplacement d\'une bouteille en cave',
            type: 'info',
            styling: 'bootstrap'
        });
    }

    function notifyStockByCave() {
        $.pnotify({
            title: 'Bootstrap Info',
            text: 'Remise d\'une bouteille en stock',
            type: 'info',
            styling: 'bootstrap'
        });
    }

    function rafraichirListeBouteilleCave(id_cave){

                //alert("on refresh la cave:"+id_cave)
                //On rafraichi la page du stock.
                criteriaBouteilleEnCave = $("#criteriaBouteilleEnCave").val()
                page_stock = $("#id_page_bouteille_cave").attr("value");
                $("#ajaxBlockBouteilleEnCave").load("/cave/searchBouteillesCaveAjax?criteriaBouteilleEnCave="+criteriaBouteilleEnCave+"&pageBouteilleEnCave="+page_stock + "&caveId=" + caveId)

    }

    function rafraichirStock(){

          //On rafraichi la page la liste des bouteilles de la cave
                criteriaBouteilleEnBase = $("#criteriaBouteilleEnBase").val()
                page_stock = $("#id_page_bouteille_base").attr("value");
                $("#ajaxBlockBouteilleEnBase").load("/cave/searchBouteillesBaseAjax?criteriaBouteilleEnBase="+criteriaBouteilleEnBase+"&pageBouteilleEnBase="+page_stock)
    }


function reinitColor(mondiv){

     //$(mondiv).addClass('DTC');
     //$(mondiv).removeClass('colorCase-1');

      classColor = $(mondiv).attr("class");
      classColor = $(mondiv).attr("class").match (/colorCase-\S+/g || []).join(' ');

      //alert(classColor);
      $(mondiv).removeClass(classColor);
}

    function colorCase(td,c){
        id_color=c.attr('id_color');
        //alert(id_color);
        switch(id_color) {
                        case "1":
                            $(td).addClass('colorCase-pink');
                            //$(td).css("background-color","red");

                            break;
                        case "2":
                            $(td).addClass("colorCase-red");
                            //$(td).css("background-color","hotpink");

                            break;
                        case "3":
                            $(td).addClass("colorCase-white");
                            //$(td).css("background-color","lightgoldenrodyellow");

                            break;
                        default:
                            //$(td).addClass("blue");
                            //$(td).css("background-color","");

                    }
    }


    $(function () {
         // Rend les bouteilles du stock draggable
        $('.monStock div.bouteille').draggable({
            revert: true,
            proxy: 'clone'
        });

// le contour de la cave est droppable pour sortir une bouteille
        $(".outCave").droppable({
            //Quand un element survole la zone
            onDragEnter: function () {
                //$(this).addClass('over');
                //On ajoute le css via la balise style ainsi il devient prioritaire sur les autres CSS
                $(this).css("background-color","green");

            },
            //Quand on relache un element dans cette zone
            onDragLeave: function () {
                // Lorsqu'on sort de la zone sans lacher. On enleve la class
                //$(this).removeClass('over');
                //On ajoute le css via la balise style ainsi il devient prioritaire sur les autres CSS

                $(this).css("background-color","");

            },
            //Lorsque l'element est lache. source est la div de la bouteille
            //source: le div bouteille qu'on deplace
            //this: le contour ou on lache
            onDrop: function (e, source) {
                // on glisse vers le contour de la cave --> remise en stock
                //On recupere l'id de la cave

                //On ajoute le css via la balise style ainsi il devient prioritaire sur les autres CSS
                $(this).css("background-color","");

                id_cave = $(this).parents("table").attr("id_cave")
                id_bouteille = ($(source).attr("id_bouteille"));
                nom_bouteille = ($(source).html());

                //On enleve la class ajoute lors du drageEnter
                //$(this).removeClass('over');

                //On enleve la couleur de du td ou ete la bouteille
                //$(source).parent().css("background-color","");
                //on vide le td ou ete la bouteille
                //On enleve la class colorCase du td contenant la bouteille qu'on vient de deplacer
                reinitColor($(source).parent());
                $(source).parent().empty();


                //on libere la bouteille en base
                ajaxLibereBouteille(id_cave, nom_bouteille, id_bouteille);
                // On notifie
                notifyStockByCave();
                // On rafraichit le stock
                rafraichirStock();
                // On rafraichit la liste des bouteilles en cave
                rafraichirListeBouteilleCave(id_cave);
            }
        })

        // Pour tous les emplacements de la cave
        $('.cave td.drop').droppable({

            //Lorsqu'on glisse un element sur un emplacement de la cave
            onDragEnter: function (e,source) {
                //alert("neter")
                //$(this).addClass('over');
                //On ajoute le css via la balise style ainsi il devient prioritaire sur les autres CSS
                $(this).css("background-color","green");


            },
            //Lorsqu'on sort l'element d'un emplacement de la cave
            onDragLeave: function (e,source) {
                //alert("leave")
                //$(this).removeClass('over');

                //On ajoute le css via la balise style ainsi il devient prioritaire sur les autres CSS
                $(this).css("background-color","");
                //colorCase($(this),$(source));

            },
            onDragOver: function (e,source) {
                //alert("over")
                //couleurOrigine=($(source).parent().css("background-color"));
                //$(this).css("background-color",couleurOrigine);
                //colorCase($(this),$(source));
            },
            //Lorsqu'on lache un element dans la cave
            //this: est l'emplacement ou on drop
            //source: la div (bouteille) qui se place dans le td
            onDrop: function (e, source) {
                //alert("drop")
               // $(this).removeClass('over');
               //$(this).css("background-color","grey");

               //On ajoute le css via la balise style ainsi il devient prioritaire sur les autres CSS
               $(this).css("background-color","");




                // Si la bouteille que l'on deplace était deja en cave
                if ($(source).hasClass('assigned')) {
                    // Si on deplace la bouteille sur un emplacement non libre (on remplace une bouteille)
                    if ($(this).children("div").data() != null) {
                        id_cave = $(this).parents("table").attr("id_cave");
                        //bouteille a remettre en stock
                        // On recupere les informations surla bouteille que l'on remplace
                        //pour la remettre en stock
                        x = ($(this).attr("x"));
                        y = ($(this).attr("y"));
                        //On prend l'id de la bouteille en cave que l'on remplace (this)
                        id_bouteille_a_stocker = ($(this).children("div").attr("id_bouteille"));
                        nom_bouteille_a_stocker = ($(this).children("div").html())

                        // bouteille a placer
                        id_bouteille_a_placer = ($(source).attr("id_bouteille"));
                        nom_bouteille_a_placer = ($(source).html());


                        //Bug si on clique sur une bouteille et on relache le clic.
                        // donc si on drop sur la meme bouteille on ignore
                        //Cela evite une mise a jour de la bdd inutile
                        if(id_bouteille_a_stocker == id_bouteille_a_placer){

                            return null;
                        }

                        reinitColor($(source).parent());
                        //Il faut egalement enlever la couleur de l'emplacement qu'on va utiliser (si on remplace du blanc par du rouge)
                        reinitColor($(this));
                        //on ajoute la classe colorCase en fonction de la couleur de la bouteille
                        colorCase($(this),$(source));

                        //on libere la bouteille ou on drop
                        ajaxLibereBouteille(id_cave, nom_bouteille_a_stocker, id_bouteille_a_stocker);
                        //on place la bouteille
                        ajaxPlaceByCave(id_cave, nom_bouteille_a_placer, id_bouteille_a_placer, x, y);
                        //On notifie
                        notifyReplaceByCave();
                        rafraichirStock();
                        rafraichirListeBouteilleCave(id_cave);

                    }

                    //On deplace une bouteille en cave sur un emplacement libre
                        //this: est l'emplacement td ou on drop
                        //source: la div (bouteille) source qui se place dans le td
                    else {
                        //On recupere les positions pour la notification
                        x = ($(this).attr("x"));
                        y = ($(this).attr("y"));
                        //Information sur la bouteille
                        id_bouteille = ($(source).attr("id_bouteille"));
                        nom_bouteille = ($(source).html());
                        //Identifiant de la cave
                        id_cave = $(this).parents("table").attr("id_cave");


                        //On enleve la class ajoute lors du drageEnter
                        //$(this).removeClass('over');

                        //on ajoute la classe colorCase en fonction de la couleur de la bouteille
                        colorCase($(this),$(source));
                        //On enleve la class colorCase du td contenant la bouteille qu'on vient de deplacer
                        reinitColor($(source).parent());

                        ajaxPlaceByCave(id_cave, nom_bouteille, id_bouteille, x, y);

                        notifyPlaceByCave();
                        rafraichirStock();

                        // On rafraichit la liste des bouteilles en cave
                        //rafraichirListeBouteilleCave(id_cave);
                    }
                    //On ajoute la div bouteille dans sa nouvelle case
                    $(this).empty().append(source);


                }

                // si la bouteille est dans le stock
                else {
                    //alert("3");
                    // ajoute au div la class assigned
                    var c = $(source).clone().addClass('assigned');
                    id_bouteille_stock = c.attr("id_bouteille");

                    // Si la bouteille que l'on place vient du stock et qu'elle etait deja dans cette cave
                    // il faut la retirer de la cave
                    bouteilleEnCaveObj = $('.cave div[id_bouteille="'+id_bouteille_stock+'"]');

                    //if(bouteilleEnCave != undefined)
                    if(bouteilleEnCaveObj.length > 0)
                    {
                        //On enleve la class colorCase du td contenant la bouteille qu'on vient de deplacer
                        reinitColor($(bouteilleEnCaveObj).parent());
                        //On vide le td contenant la bouteilleEnCave
                        bouteilleEnCaveObj.parent().empty();

                    }

                    // Si le td a deja une div (deja une bouteille)
                    if ($(this).children("div").data() != null) {
                        //alert("remplacement par stock")

                        id_cave = $(this).parents("table").attr("id_cave");

                        // la bouteille en stock a placer dans la cave
                        id_bouteille_stock = c.attr("id_bouteille");
                        nom_bouteille_stock = c.html();

                        //bouteille a remettre en stock
                        x = ($(this).attr("x"));
                        y = ($(this).attr("y"));
                        //On prend l'id de la bouteille (div) contenu dans le td (this)
                        id_bouteille = ($(this).children("div").attr("id_bouteille"));
                        nom_bouteille = ($(this).children("div").html())

                        //on ajoute la classe colorCase en fonction de la couleur de la bouteille
                        colorCase($(this),$(source));

                        //on libere la bouteille ou on drop
                        ajaxLibereBouteille(id_cave, nom_bouteille, id_bouteille);
                        //on place la bouteille
                        ajaxPlaceByCave(id_cave, nom_bouteille_stock, id_bouteille_stock, x, y);

                        notifyReplaceByStock();
                        rafraichirStock();
                        rafraichirListeBouteilleCave(id_cave);

                    }
                    // Si le td est libre
                    else {
                        //alert("5");

                        x = ($(this).attr("x"));
                        y = ($(this).attr("y"));
                        id = c.attr("id");
                        id_bouteille = c.attr("id_bouteille");
                        nom = c.html();
                        id_cave = $(this).parents("table").attr("id_cave");
                        //on ajoute la classe colorCase en fonction de la couleur de la bouteille
                        colorCase($(this),$(source));

                        //alert("ici"+x+y+nom+id_cave)
                        ajaxPlaceByStock(id_cave, nom, id_bouteille, x, y);
                        notifyPlaceByStock(id_cave, nom, id_bouteille, x, y);
                        rafraichirStock();
                        rafraichirListeBouteilleCave(id_cave);

                    }

                    // on ajoute un texte vide dans la cellule
                    c.html("<span class='bouteille'><br/></span>");

                    $(this).empty().append(c);
                    c.draggable({
                        revert: true
                    });



                }
            }
        });
    });


    </script>


    <style>

        .cave {
        float:left;
        }

        .cave tr {

        }

        .cave td {
            border: 1px solid black;
            color: red;
            width: 50px;
            height: 40px;
        }

        .monStock {
            float: left;
        }
        .bouteillesEnCave {
            float: left;
        }

        #maCave {
            float: left;
        }

        .tcolCave {
            background-color: lightgrey;

        }

        .theadCave {
            background-color: lightgrey;
            text-align: center;

        }
    .over{
        background-color: blue;
    }
    .colorCase-red{
        background-color: #d9534f;
    }

    .colorCase-pink{
        background-color: lightpink;
    }
   .colorCase-white{
        background-color: lightgoldenrodyellow;
    }



    </style>

    Gestion de la cave {{ cave.nom }}

    <div class="monStock">

        {% block monStock %}
            {% include "html/cave/mesBouteillesEnBase.html" %}
        {% endblock %}
    </div>



    <div id="maCave_{{ cave.id }}" caveId="{{ cave.id }}" class="cave">

        {% block blockCave %}
            <table id_cave="{{ cave.id }}">


                <tr>
                    <td class="tcolCave outCave">--</td>

                    {% for col in colonnes %}
                        <td class="tcolCave outCave ">{{ col }} </td>
                    {% endfor %}

                </tr>
                <tr>
                    <td class="tcolCave outCave">0</td>

                    {% for cel in cave.mesCellules.select_related %}

                        {% if cel.occupe %}
                            <td x="{{ cel.x }}" y="{{ cel.y }}"
                                    {% if cel.maBouteille.refB.couleurB.id == 1 %}
                                     class=' drop colorCase-pink'

                                     {% elif cel.maBouteille.refB.couleurB.id == 2 %}
                                     class=' drop colorCase-red'



                                     {% elif cel.maBouteille.refB.couleurB.id == 3 %}
                                     class='drop colorCase-white'


                                     {% endif %}
                                    >

                                <div id_bouteille="{{ cel.maBouteille.pk }}" class="bouteille assigned"
                                     id="bouteille_{{ cel.maBouteille.pk }}"
                                        id_color="{{ cel.maBouteille.refB.couleurB.id }}">
                                    <span> <br/> </span>
{#                                    <span> {{ cel.maBouteille }} </span>#}
{#                                    <img src="{{ cel.maBouteille.refB.imageB.url }}" width="40px" height="40px">#}
                                </div>
                                {% else %}
                            <td x="{{ cel.x }}" y="{{ cel.y }}" class="drop" >


                        {% endif %}
                        </td>


                        {% if cel.x = cave.colonnes|add:"-1" %}
                            </tr>
                            <tr>
                            {% if cel.y != cave.lignes|add:"-1" %}
                                <td class="tcolCave outCave">{{ cel.y|add:"1" }} </td>
                            {% endif %}
                        {% endif %}



                    {% endfor %}
                    </tr>
            </table>







        {% endblock %}

    </div>




    <div class="bouteillesEnCave">

        {% block bouteillesEnCave %}
            {% include "html/cave/mesBouteillesEnCave.html" %}
        {% endblock %}
    </div>


    <script>



    </script>

{% endblock %}
