{% extends "html/cave/base.html" %}

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
</head>

<body>


{% block navbar-menu %}

    {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="/cave/home/">Accueil</a></li>
        <li><a href="/cave/stock/">Les références </a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes caves ({{ nbCave }})  <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><a href="/cave/mesCaves/">Détail des caves</a></li>
            {% for x in mesCaves %}
                <li><a href="/cave/gererCave/{{ x.id }}">{{ x.nom }} (Occupation: {{ x.emplacementOccupe }} /{{ x.capacite }})</a></span></li>
            {% endfor %}
            </ul>
        </li>


        <li><a href="#">Mes bouteilles</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
    </ul>

    {% else %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="/cave/home/">Accueil</a></li>
        <li><a href="/cave/stock/">Les références </a></li>

    </ul>


{% endif %}

{% endblock %}






{% block navbar-form %}
    <div class="navbar-form navbar-right">
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-info">Welcome {{ user.username }} </button>
            <a class="btn btn-default" href="/accounts/logout" role="button">Logout</a>

        {% else %}

            <a href="/accounts/login/">
                <button type="button" class="btn btn-primary">Login</button>
            </a>
            <a href="/accounts/register/">
                <button type="button" class="btn btn-primary">Register</button>
            </a>
        {% endif %}

    </div>
{% endblock %}




{% block content %}


{% endblock %}



{% block containerG %}
    <div class="col-md-4">
        <h2>A gauchee</h2>

        <p> Chargement mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
            mollis euismod. Donec sed odio dui. </p>

        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
{% endblock %}


</body>
</html>
