


{% block container %}

    <style>

div.tooltips-red {
  position: relative;
  display: inline;
}
div.tooltips-red span {
  position: absolute;
  width:200px;
  color: #FFFFFF;
  background: #FF0F0F;
  height: 80px;
  line-height: 41px;
  text-align: center;
  visibility: hidden;
  border-radius: 13px;
  box-shadow: 10px 8px 8px #DE1D5D;
}
div.tooltips-red span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #FF0F0F;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
div:hover.tooltips-red span {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 50%;
  margin-top: -20.5px;
  margin-left: 15px;
  z-index: 999;
}

    </style>

    <script>



        function searchBouteilleEnCave(caveId,pageBouteilleEnCave) {
            criteriaBouteilleEnCave = $('#criteriaBouteilleEnCave').val();

            $('#ajaxBlockBouteilleEnCave').html('&nbsp;').load('/cave/searchBouteillesCaveAjax?criteriaBouteilleEnCave=' + criteriaBouteilleEnCave + '&caveId=' + caveId+ '&pageBouteilleEnCave=' + pageBouteilleEnCave);
        }

        $(document).ready(function () {

            // Il faut recuperer la cave actuelle.
            caveId=$('.cave').attr('caveId');

            searchBouteilleEnCave(caveId);


            $('#criteriaBouteilleEnCave').keydown(function (event) {
                if (event.keyCode == 13) {
                    searchBouteilleEnCave(caveId);
                    return false;
                }
            });
        });

    $('#ajaxBlockBouteilleEnCave').ajaxStart(function() {
	$('#spinnerBouteilleEnCave').show();
}).ajaxStop(function() {
	$('#spinnerBouteilleEnCave').hide();
});

    </script>



    <div class="tab-content">

        <div class="tab-pane fade in active" id="rechercheBouteilleEnCave">
            <div class="navbar-form navbar-left ">

                <div class="form-group">
                    <input id="criteriaBouteilleEnCave" name="criteriaBouteilleEnCave" type="text" class="form-control" placeholder="Search"
                           value="{{ criteriaBouteilleEnCave }}">
                </div>
                <button id="searchSubmitBouteilleEnCave" onclick="searchBouteilleEnCave()" type="button" class="btn btn-default"> GlouGlou
                </button>
            </div>

        </div>
    </div>

    <div style="clear:left;display:none" id="spinnerBouteilleEnCave">
    *** chargement ***
    </div>

    <div style="clear:left" id="ajaxBlockBouteilleEnCave">

    </div>




    ---------------------------





{% endblock %}
