

{% block containerStock %}

    {% for x in listeBouteille %}
        <br/>
        <div class="bouteille" id="bouteille_{{ x.id }} " id_bouteille="{{ x.id }}">
        <img src="{{ x.refB.imageB.url }}" width="40px" height="40px">

        <span class="title ">{{ x.refB.nomB }} </span>


        </div>
                {% if  x.celluleB.occupe  %}
                Placée dans: <span style="color:red" title="Ligne: {{ x.celluleB.x }} Colonne: {{ x.celluleB.y }}">            </span>

                 <a href="/cave/gererCave/{{ x.celluleB.cave_id }}"> {{ x.celluleB.cave.nom }} </a>

        {% endif %}
    {% endfor %}
    <br/>

    <div class="pagination">
    <span class="step-links">
        <ul class="pager">

            {% if listeBouteille.has_previous %}
                <li class=""><a id="previousPage" href="#"
                                onclick="submit_ajax({{ listeBouteille.previous_page_number }})">&larr;
                    Previous</a>
                </li>


            {% else %}
                <li class=" disabled"><a> &larr; Previous</a></li>

            {% endif %}


            <span class="current">
            Page {{ listeBouteille.number }} of {{ listeBouteille.paginator.num_pages }}.
        </span>

            {% if listeBouteille.has_next %}
                <li class=""><a id="nextPage" href="#"
                                onclick="submit_ajax({{ listeBouteille.next_page_number }})">Next &rarr;</a></li>
            {% else %}
                <li class=" disabled"><a>Next &rarr;</a></li>

            {% endif %}

        </ul>
    </span>

    </div>

<script>

$('.monStock div.bouteille').draggable({
				revert:true,
				proxy:'clone'
			});


$('.cave div.bouteille').draggable({
				revert:true,
				proxy:'clone'
			});


</script>

{% endblock %}

