{% extends "html/cave/home.html" %}


{% block title %} Les références{% endblock %}


{% block content %}
{% endblock %}

{% block container %}

    <script>

        function submit_ajax(page) {
            criteria = $('#criteria').val();

            $('#ajaxBlock').html('&nbsp;').load('/cave/searchStockAjax?criteria=' + criteria + '&page=' + page);
        }

        $(document).ready(function () {

            submit_ajax();


            $('#criteria').keydown(function (event) {
                if (event.keyCode == 13) {
                    submit_ajax()
                    return false;
                }
            });
        });

    $(document).ajaxStart(function() {
	$('#spinner').show();
}).ajaxStop(function() {
	$('#spinner').hide();
});

    </script>



    <div class="tab-content">

        <div class="tab-pane fade in active" id="recherche">
            <div class="navbar-form navbar-left ">

                <div class="form-group">
                    <input id="criteria" name="criteria" type="text" class="form-control" placeholder="Search"
                           value="{{ criteria }}">
                </div>
                <button id="searchSubmit" onclick="submit_ajax()" type="button" class="btn btn-default"> GlouGlou
                </button>
            </div>

        </div>
    </div>

    <div style="clear:left;display:none" id="spinner">
    *** chargement ***
    </div>

    <div style="clear:left" id="ajaxBlock">

    </div>




    ---------------------------





{% endblock %}
